canvas{
  padding: 0;
  margin: auto;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  touch-action: manipulation;
}
body{
  background-color: lightyellow;
}
div.start{
  font-size: 35px;
  color: white;
  font-family: arcade;
  font-weight: bold;
  position: absolute;
  width: 580px;
  height: 600px;
  z-index: 10;
  top: 50%;
  left: 50%;
  margin: -300px 0 0 -290px;
  background: #3d647f;
  text-align: center;
  border: 2px solid red
}
button,input{
  font-family: arcade;
  border : 2px solid black;
}
button{
  text-align: center;
  width: 100px;
}
input{
  width: 250px
}
@font-face {
  font-family: arcade;
  src: url("arcade_ya/ARCADE_I.TTF");
}
p.difficulty{
  font-size: 10px;
  margin-top : 35px
}
table{
  margin-left: 200px
}
